body {
  text-align: center;
  background-color: #339966;
}
svg {
  margin-top: 120px;
  box-shadow: 3px 3px 44px #000;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 250px;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  box-shadow: 3px 3px 44px rgba(0, 0, 0, 0.2);
  background-color: black;
  color: white;
}
